body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #7A288A; /* Cor roxa */
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo responsivo para dispositivos menores */
@media (max-width: 768px) {
  .container {
    max-width: 95%; /* Ajusta largura em dispositivos menores */
    margin: 20px auto; /* Reduz a margem para economizar espaço */
    padding: 15px; /* Ajusta o padding */
  }

  .carrossel {
    height: 300px; /* Reduz altura do carrossel para telas pequenas */
  }

  button {
    font-size: 1.5rem; /* Ajusta tamanho do texto dos botões */
    padding: 5px; /* Reduz tamanho dos botões */
  }
}

.carrossel {
  position: relative;
  width: 100%;
  max-width: 800px; /* Limita o tamanho do carrossel */
  height: 400px;
  margin-bottom: 20px;
  overflow: hidden; /* Esconde imagens fora do carrossel */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* Fundo transparente para o carrossel */
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Suaviza a movimentação */
}

.slides img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; /* Mantém a proporção original das imagens */
  display: block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  padding: 5px 10px;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #FFFFFF;
}
